[db]
DATABASE_URL="postgresql://{username}:{password}@{cockroachdb url}:{cockroachdb port}/{database name}?sslmode=verify-full"
[ms]
MEILISEARCH_URL={meilisearch url}
MEILISEARCH_KEY={meilisearch api/master key}
